* {
    box-sizing: border-box;
}

input {
    padding: 0 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #222;
    margin: 0 0 10px;
    height: 30px;
    display: block;
}

input[type="submit"] {
    background-color: #222;
    color: #fff;
    cursor: pointer;
}

form {
    padding: 5px;
}

form input {
    width: 100%;
}

main {
    display: flex;
    justify-content: center;
}
main form {
    width: 300px;
}

.message {
    padding: 5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}